/* Fonts */
/* @import url("notosansjp-black.css"); */

/* @font-face {
  font-family: 'NotoSansJP-Black';
  src: url(/fonts/NotoSansJP/NotoSansJP-Black.eot);
  src: url(/fonts/NotoSansJP/NotoSansJP-Black.eot?#iefix) format('embedded-opentype'),
        url(/fonts/NotoSansJP/NotoSansJP-Black.woff2) format('woff2'),
        url(/fonts/NotoSansJP/NotoSansJP-Black.woff) format('woff'),
        url(/fonts/NotoSansJP/NotoSansJP-Black.ttf) format('truetype');
} */

@font-face {
  font-family: 'NotoSansJP-Bold';
  src: url(/fonts/NotoSansJP/NotoSansJP-Bold.eot);
  src: url(/fonts/NotoSansJP/NotoSansJP-Bold.eot?#iefix) format('embedded-opentype'),
        url(/fonts/NotoSansJP/NotoSansJP-Bold.woff2) format('woff2'),
        url(/fonts/NotoSansJP/NotoSansJP-Bold.woff) format('woff'),
        url(/fonts/NotoSansJP/NotoSansJP-Bold.ttf) format('truetype');
}

/* @font-face {
  font-family: 'NotoSansJP-Thin';
  src: url(/fonts/NotoSansJP/NotoSansJP-Thin.eot);
  src: url(/fonts/NotoSansJP/NotoSansJP-Thin.eot?#iefix) format('embedded-opentype'),
        url(/fonts/NotoSansJP/NotoSansJP-Thin.woff2) format('woff2'),
        url(/fonts/NotoSansJP/NotoSansJP-Thin.woff) format('woff'),
        url(/fonts/NotoSansJP/NotoSansJP-Thin.ttf) format('truetype');
} */

@font-face {
  font-family: 'NotoSansJP-Regular';
  src: url(/fonts/NotoSansJP/NotoSansJP-Regular.eot);
  src: url(/fonts/NotoSansJP/NotoSansJP-Regular.eot?#iefix) format('embedded-opentype'),
        url(/fonts/NotoSansJP/NotoSansJP-Regular.woff2) format('woff2'),
        url(/fonts/NotoSansJP/NotoSansJP-Regular.woff) format('woff'),
        url(/fonts/NotoSansJP/NotoSansJP-Regular.ttf) format('truetype');
}

/* @font-face {
  font-family: 'NotoSansJP-Medium';
  src: url(/fonts/NotoSansJP/NotoSansJP-Medium.eot);
  src: url(/fonts/NotoSansJP/NotoSansJP-Medium.eot?#iefix) format('embedded-opentype'),
        url(/fonts/NotoSansJP/NotoSansJP-Medium.woff2) format('woff2'),
        url(/fonts/NotoSansJP/NotoSansJP-Medium.woff) format('woff'),
        url(/fonts/NotoSansJP/NotoSansJP-Medium.ttf) format('truetype');
} */

@font-face {
  font-family: 'NotoSansJP-Light';
  src: url(/fonts/NotoSansJP/NotoSansJP-Light.eot);
  src: url(/fonts/NotoSansJP/NotoSansJP-Light.eot?#iefix) format('embedded-opentype'),
        url(/fonts/NotoSansJP/NotoSansJP-Light.woff2) format('woff2'),
        url(/fonts/NotoSansJP/NotoSansJP-Light.woff) format('woff'),
        url(/fonts/NotoSansJP/NotoSansJP-Light.ttf) format('truetype');
}

/* Forces the navbar to stick at the top of the page as you scroll */

/* Overall body formatting */

html {
  background-color: rgb(65, 101, 138);
}

body {
  background-color: rgb(28, 184, 144);
  font-family: 'NotoSansJP-Medium';
  color: rgb(255, 255, 255);
  font-size: 125%;
  line-height: 1.5;
  max-width: 45rem;
  /* padding: 0.25rem; */
  margin: 0 auto;
}

/* NAVIGATION */
  /* padding-right: auto;
  padding-left: auto;
  padding-bottom: auto;
  padding-top: 0; */
  /* border: 1px solid rgb(63, 75, 63); */



/* the whole bar */
.site-header{
  font-family: 'NotoSansJP-Bold';
  width: 100%;
  /* background-color: rgb(175, 117, 149); */
  background-color: rgb(175, 117, 149);
  /* background-color: rgb(140, 72, 67); */
  position : sticky;
	top :0;
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /* padding: 0.5rem; */
}


/* just the text positioning in the bar */
.site-nav {
  display: flex;
  width: 100%;
  /* margin-left: 50%;
  margin-right: 50%;  */
  /* width: 50%; */
  /* border: 1px solid rgb(14, 14, 14); */
}

/* home button + pages */
.main-menu {
  display: flex;
  width: auto;
  margin: auto;
  /* list-style: none; */
  /* margin: 0; */
  /* border: 10px solid rgb(183, 175, 238); */
  padding: 0rem;
  /* margin: auto; */
}

/* just the home button portion */
.home-button {
  color:rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
  font-weight: bold;
  margin: auto;
  padding-inline: 0.5rem; 
  width: 100%;
  /* border: 1px solid rgb(157, 50, 143); */
  /* background: rgb(231, 224, 147); */
}

.home-button:hover {
  color:rgb(248, 192, 26);
  transition: color 0.5s;
}


.menu-buttons {
  font-weight: bold;
  display: inline-flex;
  margin: auto;
  padding-inline: 0.5rem; 
  width: 100%;
  /* border: 1px solid rgb(157, 50, 143); */
  /* background: rgb(255, 21, 0); */
}

.menu-buttons a{
  color:rgb(255, 255, 255);
  text-decoration: none;
}

.menu-buttons a:hover{
  color:rgb(248, 192, 26);
  text-decoration: none;
  transition: color 0.5s;
}


/* Forces horizontal stacking when width is small enough */
@media only screen and (max-width: 20rem) {
  .main-menu {
    flex-direction: column;
  }
/* 
  .site-nav,
  .main-menu {
    flex-direction: column;
  }

  .site-nav a {
    padding: 0.5rem;
    padding-left: 0;
  } */
}

/* Content Formatting */
.title-text{
  font-family: 'NotoSansJP-Bold';
  margin: auto;
  width: 50%;
  text-align: center;
  line-height: 1;
}

/* Markdown content styling */
.content {
  font-family: 'NotoSansJP-Regular';
  padding: 0.5rem;
  /* background-color: aliceblue; */
}

/* links */
.content a{
  color: rgb(246, 212, 149);
}

/* hover link text */
.content a:hover{
  color: rgb(65, 101, 138);
}

/* ! Markdown text decoration styling */
/* italics when using center-text */
.center-text em {
  color:rgb(247, 245, 146) !important;
}

/* bold when using center-text */
.center-text strong {
  color:rgb(247, 192, 26) !important;
}

em {
  color:rgb(247, 245, 146) !important;
}

/* code block */
/* for some reason, !important is needed in
   order to get it to alter the css rendering */
.highlight pre{
  background-color: rgb(46, 70, 94) !important;
  box-sizing: border-box;
  padding: 10px;
}

/* inline code in general */
/* https://stackoverflow.com/questions/41238148/how-to-wrap-long-lines-inside-of-markdown-code-in-github-and-gitlab-issu */
code{
  display: inline-block;
  background-color: rgb(46, 70, 94)!important;
  padding: 3px;
  white-space : pre-wrap !important;
}


/* ! ====================================== */


/* Articles */


/* LISTS */
.post-list{
  padding-top: 0rem;
  padding-left: 0rem;
  margin: auto;
  width: 50%;
  text-align: center;
}


.post-snippet {
  /* margin: auto; */
  line-height: 1;
}

.post-snippet h4 {
  /* margin-bottom: 0.5rem;
  padding: 1rem; */
  padding: 0rem;
}

/* ! Link color styling */
.post-snippet a {

  color:rgb(240, 207, 225);
}

.post-snippet a:hover {
  color:rgb(65, 101, 138);
  /* transition: color 0.2s; */
}


/* ! footer */
.footer-text {
  position : relative;
  bottom: 0;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  color:rgb(24, 22, 23);
  /* background-color: lightblue; */
  margin: auto;
  width: 100%;
  text-align: center;
  /* border: 1px solid rgb(63, 75, 63); */
}


/* ! Image alignment styles */
/* ? Syntax is like so: */
/* ![](spinning-ball.webp#center) */

/* ? image is exactly centered */
img[src*='#center'] { 
  display: block;
  margin: auto;
}

/* ? image is left-aligned on its own line */
img[src*='#left'] { 
  display: block;
  margin: 0%;
}

/* ? Text wraps right around left-aligned image */
img[src*='#left-float'] { 
  float: left;
}

/* ? Image is right-aligned on its own line */
img[src*='#right'] { 
  display: block;
  margin-left: auto;
}

/* ? Text wraps left around right-aligned image */
img[src*='#right-float'] { 
  float: right;
}

/* ! ====================================== */

.center-text {
  text-align:center;
}

/* shortcode styling */
/* https://gohugo.io/content-management/shortcodes/#figure */
.centerfig{
  text-align: center;
  margin: auto;
  display: block;
}


/* Centered Buy me a coffee button */
.bmc-btn-container {
  text-align: center;
  margin: auto;
  display: block;
}
